# Load All The Data

In [66]:
import pandas as pd
import numpy as np
import os
import json
import pprint
from collections import Counter

In [41]:
CURRENT_DIR = (os.getcwd()).replace("/Notebooks","")
DATA_DIR = os.path.abspath(os.path.join(CURRENT_DIR, 'raw_data'))
MOJO_DIR = os.path.join(DATA_DIR, 'boxofficemojo')
META_DIR = os.path.join(DATA_DIR, 'metacritic')
OUR_DIR =  os.path.join(DATA_DIR, 'our_movies')

def pull_from_folder(directory):
    file_contents = os.listdir(directory)

    movie_list = []

    for filename in file_contents:
        if 'json' in filename[-4:]:
            filepath = os.path.join(directory, filename)

            with open(filepath, 'r') as movie_file:
                movie_data = json.load(movie_file)

            movie_list.append(movie_data)

    print "Parsed %i movies from %i files" % (len(movie_list),
                                              len(file_contents))
    return movie_list

## Data Set 1

In [67]:
mojo_movies = pull_from_folder(MOJO_DIR)
mojo_df =  pd.DataFrame(mojo_movies)
mojo_df.describe()
mojo_df.head()

Parsed 3728 movies from 3728 files

,alt_title,director,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title,widest_release,worldwide_gross,year
0,"10,000 B.C. (2008)",Roland Emmerich,94784201,10000bc,10518,35867488,105000000,None,2008-03-07,"10,000 B.C.",3454,269784201,2008
1,102 Dalmatians (2000),None,66957026,102dalmatians,7353,19883351,85000000,None,2000-11-22,102 Dalmatians,2704,183611771,2000
2,10 Things I Hate About You (1999),None,38178166,10thingsihateaboutyou,3668,8330681,30000000,None,1999-03-31,10 Things I Hate About You,2311,53478166,1999
3,10 Years (2012),Jamie Linden,203373,10years,7569,22707,NaN,None,2012-09-14,10 Years,63,203373,2012
4,11 Flowers (2013),None,9213,11flowers,1758,3516,NaN,None,2013-02-22,11 Flowers,2,NaN,2013

## Data Set 2

In [84]:
meta_movies = pull_from_folder(META_DIR)
types = [type(movie) for movie in meta_movies]
print Counter(types)
meta_movies_copy = meta_movies[:]
for item in meta_movies:
    typer= str(type(item)).replace("<type '","").replace("'>","")
    if 'list' in typer:
        meta_movies_copy.remove(item)

Parsed 4767 movies from 4767 files
Counter({<type 'dict'>: 4765, <type 'list'>: 2})
[]
[u'/movie/11-flowers']

## Data Set 3

In [68]:
our_movies = pull_from_folder(OUR_DIR)
our_df = pd.DataFrame(our_movies)
our_df.describe()
our_df.head()

Parsed 3723 movies from 3724 files

,Actors,Awards,BoxOffice,Country,DVD,Director,Error,Genre,Language,Metascore,...,tomatoFresh,tomatoImage,tomatoMeter,tomatoRating,tomatoReviews,tomatoRotten,tomatoURL,tomatoUserMeter,tomatoUserRating,tomatoUserReviews
0,"Jack O'Connell, Jack Lowden, Paul Popplewell, ...",Nominated for 1 BAFTA Film Award. Another 11 w...,N/A,UK,07 Jul 2015,Yann Demange,NaN,"Action, Drama, Thriller",English,83,...,119,certified,96,7.7,124,5,http://www.rottentomatoes.com/m/71_2015/,81,3.9,16365
1,"Joseph Gordon-Levitt, Zooey Deschanel, Geoffre...",Nominated for 2 Golden Globes. Another 18 wins...,$32.1M,USA,22 Dec 2009,Marc Webb,NaN,"Comedy, Drama, Romance","English, French, Swedish",76,...,183,certified,86,7.6,214,31,http://www.rottentomatoes.com/m/500_days_of_su...,84,3.8,395062
2,NaN,NaN,NaN,NaN,NaN,NaN,Must provide more than one character.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",2 wins & 12 nominations.,N/A,USA,12 Oct 1999,Gil Junger,NaN,"Comedy, Drama, Romance","English, French",70,...,38,fresh,61,6.1,62,24,http://www.rottentomatoes.com/m/10_things_i_ha...,69,3.3,32103660
4,"Channing Tatum, Jenna Dewan Tatum, Justin Long...",N/A,$0.2M,USA,18 Dec 2012,Jamie Linden,NaN,"Comedy, Drama, Romance",English,61,...,33,fresh,60,5.9,55,22,http://www.rottentomatoes.com/m/10_years/,40,3.0,11607

'json'