In [41]:
def list_json_dict(data_dir):
    return_list = list()
    for target_file_name in os.listdir(data_dir):
        if target_file_name[-5:] == '.json':
            target_file_path = os.path.join(data_dir, target_file_name)
            with open(target_file_path, 'r') as target_file:
                json_file = json.load(target_file)
                if(type(json_file)==dict):
                    return_list.append( json_file )
                else:
                    print target_file_path + " is not a json dictionary"
    return return_list

In [195]:
import os
import json
import pandas as pd
import re
import numpy as np

In [34]:
DATA_DIR_MOJO = os.path.join('raw_data', 'boxofficemojo')
DATA_DIR_METACRITIC = os.path.join('raw_data', 'metacritic')
DATA_DIR_OUR = os.path.join('raw_data', 'our_movies')
mojo = list_json_dict(DATA_DIR_MOJO)
metacritic = list_json_dict(DATA_DIR_METACRITIC)
our = list_json_dict(DATA_DIR_OUR)

In [225]:
df_mojo = pd.DataFrame(mojo)
df_metacritic = pd.DataFrame(metacritic)
df_our = pd.DataFrame(our)

In [245]:
mojo_title_clean=[]
for title, alt_title in zip( df_mojo.loc[:,'title'], df_mojo.loc[:,'alt_title'] ):
    if title:
        try:
            mojo_title_clean.append( re.sub('[^A-Za-z0-9]+', '', title).lower() )
        except:
            mojo_title_clean.append(np.nan)
    else:
        try:
            mojo_title_clean.append( re.sub('[^A-Za-z0-9]+', '', alt_title).lower() )
        except:
            mojo_title_clean.append(np.nan)
mojo_director_clean=[]
for director in df_mojo.loc[:,'director']:
    try:
        mojo_director_clean.append( re.sub('[^A-Za-z0-9]+', '', director).lower() )
    except:
        mojo_director_clean.append(np.nan)
df_mojo['title_clean'] = mojo_title_clean
df_mojo['director_clean'] = mojo_director_clean
df_mojo[df_mojo.title_clean.isnull()].head()

Empty DataFrame
Columns: [alt_title, director, domestic_gross, mojo_slug, opening_per_theater, opening_weekend_take, production_budget, release_date_limited, release_date_wide, title, widest_release, worldwide_gross, year, title_clean, director_clean]
Index: []

In [246]:
metacritic_title_clean=[]
for title in df_metacritic.loc[:,'title']:
    try:
        metacritic_title_clean.append( re.sub('[^A-Za-z0-9]+', '', title).lower() )
    except:
        metacritic_title_clean.append(np.nan)
        
metacritic_director_clean=[]
for director in df_metacritic.loc[:,'director']:
    try:
        metacritic_director_clean.append( re.sub('[^A-Za-z0-9]+', '', director).lower() )
    except:
        metacritic_director_clean.append(np.nan)
        
df_metacritic['title_clean'] = metacritic_title_clean
df_metacritic['director_clean'] = metacritic_director_clean
df_metacritic[df_metacritic.title_clean.isnull()].head()

,complete,director,genre,metacritic_page,metascore,num_critic_reviews,num_user_ratings,num_user_reviews,rating,release_date,runtime_minutes,studio,title,unable to retrieve,user_score,year,title_clean,director_clean
1251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[/movie/once-upon-a-time-in-mexico, /movie/ser...",NaN,NaN,NaN,NaN

In [247]:
our_title_clean=[]
for title in df_our.loc[:,'Title']:
    try:
        our_title_clean.append( re.sub('[^A-Za-z0-9]+', '',title).lower() )
    except:
        our_title_clean.append(np.nan)
df_our['title_clean'] = our_title_clean
df_our[df_our.title_clean.isnull()].head()

,Actors,Awards,BoxOffice,Country,DVD,Director,Error,Genre,Language,Metascore,...,tomatoImage,tomatoMeter,tomatoRating,tomatoReviews,tomatoRotten,tomatoURL,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,title_clean
2,NaN,NaN,NaN,NaN,NaN,NaN,Must provide more than one character.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,Movie not found!,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,Movie not found!,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,Movie not found!,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,Movie not found!,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
df_metacritic = df_metacritic[df_metacritic.title_clean.notnull()]
df_our = df_our[df_our.title_clean.notnull()]

In [273]:
print df_our[df_our.duplicated()]
df_our = df_our.drop_duplicates()
#meninblack and thereturn are duplicated

                                                 Actors  \
1836  Tommy Lee Jones, Will Smith, Linda Fiorentino,...
3209  Vladimir Garin, Ivan Dobronravov, Konstantin L...

                                                 Awards BoxOffice Country  \
1836     Won 1 Oscar. Another 18 wins & 39 nominations.       N/A     USA
3209  Nominated for 1 Golden Globe. Another 28 wins ...       N/A  Russia

              DVD            Director Error                     Genre  \
1836  23 Oct 1997    Barry Sonnenfeld   NaN            Comedy, Sci-Fi
3209  19 Oct 2004  Andrey Zvyagintsev   NaN  Drama, Mystery, Thriller

              Language Metascore     ...     tomatoImage tomatoMeter  \
1836  English, Spanish        71     ...       certified          92
3209           Russian        82     ...             N/A         N/A

     tomatoRating tomatoReviews tomatoRotten  \
1836          7.4            85            7
3209          N/A           N/A          N/A

                                             tomatoURL tomatoUserMeter  \
1836     http://www.rottentomatoes.com/m/men_in_black/              79
3209  http://www.rottentomatoes.com/m/the-return-2003/              86

     tomatoUserRating tomatoUserReviews title_clean
1836              3.5           1047176  meninblack
3209              3.9               300   thereturn

[2 rows x 37 columns]

In [296]:
df_mojo_metacritic = pd.merge(df_mojo, df_metacritic, how='left', on=['title_clean','year'])
df_mojo_our = pd.merge(df_mojo, df_our, how='left', on=['title_clean'])

In [297]:
mojo_our_title_count = df_mojo_our[['title_clean','alt_title']].groupby('title_clean').count()
print mojo_our_title_count[mojo_our_title_count['alt_title']>1]
df_mojo_our[df_mojo_our.title_clean=='thereturn'].T
#'The Return' has different years in datasets so remove all
df_mojo_our = df_mojo_our[df_mojo_our.title_clean!='thereturn']

             alt_title
title_clean
thereturn            2

In [299]:
mojo_metacritic_title_count = df_mojo_metacritic[['title_clean','alt_title']].groupby('title_clean').count()
mojo_metacritic_title_count[mojo_metacritic_title_count.alt_title>1]

             alt_title
title_clean
thereturn            2

In [304]:
print len(df_mojo)
print len(df_metacritic)
print len(df_our)
print len(df_mojo_metacritic)
print len(df_mojo_our)

print sum(df_mojo_metacritic.title_y.notnull())
print sum(df_mojo_our.Title.notnull())
#remove all rows without matching titles in right dataframe in merge

df_mojo_metacritic = df_mojo_metacritic[df_mojo_metacritic.title_y.notnull()]
df_mojo_our = df_mojo_our[df_mojo_our.Title.notnull()]

3728
4763
3554
3728
3726
3348
3508

In [308]:
df_mojo_metacritic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3348 entries, 0 to 3727
Data columns (total 31 columns):
alt_title               3348 non-null object
director_x              2027 non-null object
domestic_gross          3306 non-null float64
mojo_slug               3348 non-null object
opening_per_theater     3243 non-null float64
opening_weekend_take    3243 non-null float64
production_budget       1508 non-null float64
release_date_limited    274 non-null object
release_date_wide       3345 non-null object
title_x                 3348 non-null object
widest_release          3268 non-null float64
worldwide_gross         2628 non-null float64
year                    3348 non-null float64
title_clean             3348 non-null object
director_clean_x        2027 non-null object
complete                3348 non-null object
director_y              3348 non-null object
genre                   3348 non-null object
metacritic_page         3348 non-null object
metascore               3272 non-null float64
num_critic_reviews      3348 non-null object
num_user_ratings        3207 non-null float64
num_user_reviews        3348 non-null object
rating                  3348 non-null object
release_date            3348 non-null object
runtime_minutes         3295 non-null float64
studio                  3330 non-null object
title_y                 3348 non-null object
unable to retrieve      0 non-null object
user_score              3348 non-null object
director_clean_y        3348 non-null object
dtypes: float64(10), object(21)
memory usage: 837.0+ KB

In [309]:
df_mojo_our.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3508 entries, 0 to 3727
Data columns (total 51 columns):
alt_title               3508 non-null object
director                2075 non-null object
domestic_gross          3453 non-null float64
mojo_slug               3508 non-null object
opening_per_theater     3364 non-null float64
opening_weekend_take    3364 non-null float64
production_budget       1530 non-null float64
release_date_limited    287 non-null object
release_date_wide       3504 non-null object
title                   3508 non-null object
widest_release          3388 non-null float64
worldwide_gross         2683 non-null float64
year                    3506 non-null float64
title_clean             3508 non-null object
director_clean          2075 non-null object
Actors                  3508 non-null object
Awards                  3508 non-null object
BoxOffice               3508 non-null object
Country                 3508 non-null object
DVD                     3508 non-null object
Director                3508 non-null object
Error                   0 non-null object
Genre                   3508 non-null object
Language                3508 non-null object
Metascore               3508 non-null object
Plot                    3508 non-null object
Poster                  3508 non-null object
Production              3508 non-null object
Rated                   3508 non-null object
Released                3508 non-null object
Response                3508 non-null object
Runtime                 3508 non-null object
Title                   3508 non-null object
Type                    3508 non-null object
Website                 3508 non-null object
Writer                  3508 non-null object
Year                    3508 non-null object
imdbID                  3508 non-null object
imdbRating              3508 non-null object
imdbVotes               3508 non-null object
tomatoConsensus         3508 non-null object
tomatoFresh             3508 non-null object
tomatoImage             3508 non-null object
tomatoMeter             3508 non-null object
tomatoRating            3508 non-null object
tomatoReviews           3508 non-null object
tomatoRotten            3508 non-null object
tomatoURL               3508 non-null object
tomatoUserMeter         3508 non-null object
tomatoUserRating        3508 non-null object
tomatoUserReviews       3508 non-null object
dtypes: float64(7), object(44)
memory usage: 1.4+ MB

In [ ]:
df_mojo_metacritic.title_clean

In [317]:
df_all = pd.merge(df_mojo_metacritic, df_mojo_our, on='title_clean')
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3297 entries, 0 to 3296
Data columns (total 81 columns):
alt_title_x               3297 non-null object
director_x                2002 non-null object
domestic_gross_x          3259 non-null float64
mojo_slug_x               3297 non-null object
opening_per_theater_x     3197 non-null float64
opening_weekend_take_x    3197 non-null float64
production_budget_x       1489 non-null float64
release_date_limited_x    272 non-null object
release_date_wide_x       3295 non-null object
title_x                   3297 non-null object
widest_release_x          3221 non-null float64
worldwide_gross_x         2591 non-null float64
year_x                    3297 non-null float64
title_clean               3297 non-null object
director_clean_x          2002 non-null object
complete                  3297 non-null object
director_y                3297 non-null object
genre                     3297 non-null object
metacritic_page           3297 non-null object
metascore                 3224 non-null float64
num_critic_reviews        3297 non-null object
num_user_ratings          3160 non-null float64
num_user_reviews          3297 non-null object
rating                    3297 non-null object
release_date              3297 non-null object
runtime_minutes           3246 non-null float64
studio                    3281 non-null object
title_y                   3297 non-null object
unable to retrieve        0 non-null object
user_score                3297 non-null object
director_clean_y          3297 non-null object
alt_title_y               3297 non-null object
director                  2002 non-null object
domestic_gross_y          3259 non-null float64
mojo_slug_y               3297 non-null object
opening_per_theater_y     3197 non-null float64
opening_weekend_take_y    3197 non-null float64
production_budget_y       1489 non-null float64
release_date_limited_y    272 non-null object
release_date_wide_y       3295 non-null object
title                     3297 non-null object
widest_release_y          3221 non-null float64
worldwide_gross_y         2591 non-null float64
year_y                    3297 non-null float64
director_clean            2002 non-null object
Actors                    3297 non-null object
Awards                    3297 non-null object
BoxOffice                 3297 non-null object
Country                   3297 non-null object
DVD                       3297 non-null object
Director                  3297 non-null object
Error                     0 non-null object
Genre                     3297 non-null object
Language                  3297 non-null object
Metascore                 3297 non-null object
Plot                      3297 non-null object
Poster                    3297 non-null object
Production                3297 non-null object
Rated                     3297 non-null object
Released                  3297 non-null object
Response                  3297 non-null object
Runtime                   3297 non-null object
Title                     3297 non-null object
Type                      3297 non-null object
Website                   3297 non-null object
Writer                    3297 non-null object
Year                      3297 non-null object
imdbID                    3297 non-null object
imdbRating                3297 non-null object
imdbVotes                 3297 non-null object
tomatoConsensus           3297 non-null object
tomatoFresh               3297 non-null object
tomatoImage               3297 non-null object
tomatoMeter               3297 non-null object
tomatoRating              3297 non-null object
tomatoReviews             3297 non-null object
tomatoRotten              3297 non-null object
tomatoURL                 3297 non-null object
tomatoUserMeter           3297 non-null object
tomatoUserRating          3297 non-null object
tomatoUserReviews         3297 non-null object
dtypes: float64(17), object(64)
memory usage: 2.1+ MB

In [319]:
df_all_final = df_all[['title_clean','domestic_gross_x','Director','Genre','year_x','Actors','release_date_wide_x']]

#domestic_gross_x and domestic_gross_y are same (both from df_mojo)
#director_x and director are from df_mojo and is most incomplete; director_y is from df_metacritic, Director is from df_our
#genre is from df_metacritic, Genre is from df_our
#year_x and year_y are same (both from df_mojo)
#Actors is unique
#release_date_wide_x and release_date_wide_y are same (both from df_mojo)

In [325]:
df_all_final.info()
len(df_all_final.dropna())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3297 entries, 0 to 3296
Data columns (total 7 columns):
title_clean            3297 non-null object
domestic_gross_x       3259 non-null float64
Director               3297 non-null object
Genre                  3297 non-null object
year_x                 3297 non-null float64
Actors                 3297 non-null object
release_date_wide_x    3295 non-null object
dtypes: float64(2), object(5)
memory usage: 206.1+ KB

3257

In [324]:
df_all_final = df_all_final.dropna()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3297 entries, 0 to 3296
Data columns (total 7 columns):
title_clean            3297 non-null object
domestic_gross_x       3259 non-null float64
Director               3297 non-null object
Genre                  3297 non-null object
year_x                 3297 non-null float64
Actors                 3297 non-null object
release_date_wide_x    3295 non-null object
dtypes: float64(2), object(5)
memory usage: 206.1+ KB

In [327]:
df_all_final.to_excel('final_data.xlsx')

In [340]:
print sum(df_all_final.domestic_gross_x.isnull())
print sum(df_all_final.Director=='N/A')
print sum(df_all_final.Genre=='N/A')
print sum(df_all_final.release_date_wide_x.isnull())
print sum(df_all_final.Actors=='N/A')
#domestic_gross has 38 "" (blanks)
#Director has 15 "N/A"
#Genre has 2 "N/A"
#release_date_wide has 2 "" (blanks)
#Actors has 9 "N/A"

38
15
2
2
9

In [341]:
df_all_final = df_all_final[df_all_final.domestic_gross_x.notnull()]
df_all_final = df_all_final[df_all_final.Director!='N/A']
df_all_final = df_all_final[df_all_final.Genre!='N/A']
df_all_final = df_all_final[df_all_final.release_date_wide_x.notnull()]
df_all_final = df_all_final[df_all_final.Actors!='N/A']
len(df_all_final)

3233

In [344]:
df_all_final.columns = ['title','domestic_gross','director','genre','year','actors','release_date_wide']

In [345]:
df_all_final.head()

,title,domestic_gross,director,genre,year,actors,release_date_wide
0,10000bc,94784201.0,Roland Emmerich,"Action, Adventure, Drama",2008.0,"Steven Strait, Camilla Belle, Cliff Curtis, Jo...",2008-03-07
1,102dalmatians,66957026.0,Kevin Lima,"Adventure, Comedy, Family",2000.0,"Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",2000-11-22
2,10thingsihateaboutyou,38178166.0,Gil Junger,"Comedy, Drama, Romance",1999.0,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",1999-03-31
3,10years,203373.0,Jamie Linden,"Comedy, Drama, Romance",2012.0,"Channing Tatum, Jenna Dewan Tatum, Justin Long...",2012-09-14
4,11flowers,9213.0,Xiaoshuai Wang,Drama,2013.0,"Gang Cao, Shiping Cao, Wenqing Liu, Yihao Lou",2013-02-22

In [346]:
df_all_final.to_excel('final_data.xlsx')